.main-header {
    text-align: center;
}

.btns {
    margin: 2% 10%;

    div {
        display: flex;
        justify-content: space-between;

        button {
            width: 20%;
            padding: 1%;
            background: white;
        }
    }
}

.list {
    margin: 2% 10%;
}

.modal-body {
    padding: 2% 10%;
}



.form-body {
    padding: 0 2%;

    .btn-groups {
        display: flex;
        justify-content: space-around;
        gap: 20px;

        button {
            width: 33%;
            height: 40px;
            transition: 0.7s;
        }

        button:hover {
            background-color: black;
            color: white;
        }
    }

    .main-form {
        border: 0.7px solid black;
        padding: 2% 7%;


        .logos {
            display: flex;
            justify-content: space-between;
        }

        div {
            .large-img {
                width: 100%;
                height: 500px;
                background-color: rgb(245, 245, 245);
                background-position: center;
                background-repeat: no-repeat;

                input {
                    display: block;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
            }

            .part-images {
                height: 490px;
                display: flex;
                justify-content: space-around;

                .indiv-image {
                    background-color: rgb(245, 245, 245);
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 100%;

                    input {
                        display: block;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                }

                .indiv-image:nth-child(1) {
                    width: 60%;
                }

                .indiv-image:nth-child(2) {
                    width: 38%;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    div {
                        height: 48%;
                        background-color: rgb(245, 245, 245);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                .triple-image {
                    background-color: rgb(245, 245, 245);
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 32%;

                    input {
                        display: block;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }


                }
                .double-image {
                    background-color: rgb(245, 245, 245);
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 48%;

                    input {
                        display: block;
                        height: 100%;
                        width: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }


                }
                
            }

        }
        .fixed-carousel {
            width: 100%;
            overflow: hidden;
            
            img{
              width: 100%; 
              object-fit:contain;
            }

            .carousel-caption{
                cursor: pointer;
                background: rgba(0, 0, 0, 0.686);
                //border: 1px solid black;
                width:15rem;
                border-radius: 50px;
                text-align: center;
                margin: 1rem auto;
                h3{
                    font-size: 1rem;
                }
            }

      }

      .carousel-buttons {

          width: 33%;
          height: 40px;
          transition: 0.7s;
          display: inline-block;


        &:hover {
            background-color: black;
            color: white;
        }

        img{
            display: block;
            opacity: 0;
        }
      }
    }




}

// .carousel-control-prev, .carousel-control-next{
//     background: #08ff03f9 !important;
// }

.preview {
    outline: 0.7px solid black;
    height: 70vh;
}

.template-selection {
    background-color: black;
    color: white;
}

.main-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    width: 100%;
    border: 2px solid rgb(174, 174, 174);
    padding: 0 3%;

    .sides {
        display: flex;
        flex-direction: row;
        gap: 30px;

        h3 {
            display: flex;
            align-items: center;
            font-weight: 400;
            margin: 0;
        }

        h2 {
            margin: 0;
        }
    }

    .sides:nth-child(1) {
        img {
            width: 63px;
            height: 63px;
            border-radius: 50%;
        }
    }

    .sides:nth-child(2) {
        img {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }
}


.penta-image {
    background-color: rgb(245, 245, 245);
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    width: 32%;
    justify-content: space-around;
    border: 1px solid rgb(131, 130, 130);

    input {
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
    }
}



// new caurosel scss


/* Default styles */

.selected-image-container {

    margin-bottom: 20px;
    padding-top: 0rem;
    padding-bottom: 0rem;


    .selected-image {
        max-height: 416px;
        max-width: 856px;
        display: block;
        margin: 0 auto;



      }
  }

  .image-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px; /* Add margin to create space for the Choose Image button */
    margin-top: 20px;
    gap: 1rem;
  }

  .image-ite {
    margin-right: 10px;
    margin-bottom: 10px;
  }


  .image-preview {

    height: 130px;
    width: 162px;
    cursor: pointer;
  }

  .selected-image {
    max-height: 416px;
    max-width: 856px;
    display: block;
    margin: 0 auto;
    width: 60rem;
  }

  .choose-image-button {

    width: 15rem;
    height: 3rem;
    text-align: center;
    margin-top: 10px;

    padding: 10px 20px;
    cursor: pointer;
    background: rgba(125, 122, 122, 0.43);
    border: none;
    border-radius: 20px;

  }

  .choose-image-button input {


    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 20%;
    height: 50%;
    border-radius: 20px;
  }

  .delete-button{

        background: rgb(111, 0, 255);
        height: 1rem;
        width: 1rem;
  }

  .prev{
    width: 60rem;
  }

