<div class="main-part">
    <h1>Stories</h1>
    <br><br>
    <div class="btns">
        <button (click)="openModal(storyModal)">Add New story</button>
    </div>
    <br><br>
    <div>
		<ng-container *ngFor="let story of stories; index as i">
			<div class="main-body">
				<div class="sides">
					<h3>{{ i+1 }}</h3>
					<img [src]="story.image1" alt="">
					<div>
						<h2>{{ story.title }}</h2>
						<p style="margin: 0;">{{ story.location }}</p>
					</div>
				</div>
				<div class="sides">
					<img src="assets/svgs/edit.svg" alt="edit" (click)="openModalUpdate(storyModal, story.title, story.location, story.year, story.text1, story.text2, story.text3, story.text4,story.links, story._id)">
					<img src="assets/svgs/delete.svg" alt="delete" (click)="openDelete(deleteStory, story._id)">
				</div>
			</div>
			<br>
		</ng-container>
    </div>
</div>

<!-- modal -->
<ng-template #storyModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ updating ? 'Edit Story' : 'Add New Story' }}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form class="story-form">
			<div class="mb-3">
				<label>Title</label><br><br>
				<input type="text" class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
			</div>
            <br>
			<div class="mb-3">
				<label>Text 1</label><br><br>
				<editor [init]="editorConfig" [(ngModel)]="text1" [ngModelOptions]="{standalone: true}"></editor>
			</div>
            <br>
            <div class="mb-3">
				<label>Location</label><br><br>
				<input type="text" class="form-control" [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
			</div>
            <br>
            <div class="mb-3">
				<label>Year</label><br><br>
				<input type="number" class="form-control" [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
			</div>
            <br>
            <div class="mb-3">
				<label>Image 1</label><br><br>
				<input type="file" accept="image/*" class="form-control" (change)="onImageFieldChange($event, 1)">
			</div>
            <br>
            <div class="mb-3">
				<label>Text 2</label><br><br>
				<editor [init]="editorConfig" [(ngModel)]="text2" [ngModelOptions]="{standalone: true}"></editor>
			</div>
            <br>
            <div class="mb-3">
				<label>Text 3</label><br><br>
				<editor [init]="editorConfig" [(ngModel)]="text3" [ngModelOptions]="{standalone: true}"></editor>
			</div>
            <br>
            <div class="mb-3">
				<label>Text 4</label><br><br>
				<editor [init]="editorConfig" [(ngModel)]="text4" [ngModelOptions]="{standalone: true}"></editor>
			</div>
            <br>
            <div class="mb-3">
				<label>Image 2</label><br><br>
				<input type="file" accept="image/*" class="form-control" (change)="onImageFieldChange($event, 2)">
			</div>
            <br>

			<div class="mb-3">
				<label>Links</label> <br><br> 
				<button class='btn btn-secondary' (click)="AddLinks()">Add</button>
				<div class="other-project-links" *ngFor="let item of links; let i=index">
					0{{i+1}}
					<input type="text" class="form-control" value="{{item.title}}" placeholder="Name of the story" (keydown)="updateLink($event,'title',i)">
					<input type="text" class="form-control" value="{{item.href}}" placeholder="Link of the story" (keydown)="updateLink($event,'href',i)">
					<button class='btn btn-danger  ms-2 link-x-button' (click)="removeLinks(i)"> X </button>
				</div>
				
			</div>
            <br>	
		</form>
	</div>
	<div class="modal-footer">
		<button 
			type="button" 
			class="btn btn-outline-dark" 
			(click)="onSubmitStory()"
			*ngIf="!isLoading else loader"
		>Save</button>
	</div>
</ng-template>

<ng-template #loader>
	<div class="spinner-grow" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</ng-template>

<ng-template #deleteStory let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Delete Story</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		Do you sure want to delete?
	</div>
	<div class="modal-footer">
		<button 
			type="button" 
			class="btn btn-outline-dark" 
			style="border-radius: 0%;" 
			(click)="deleteThis(deletingId)" 
		>Yes</button>
		<button 
			class="btn btn-outline-dark" 
			style="border-radius: 0%;" 
			(click)="modal.dismiss('Cross click')"
		>No</button>
	</div>
</ng-template>