.main-part {
    padding: 2% 10%;

    .btns {
        width: 29%;
        display: flex;
        justify-content: space-between;

        button {
            border: solid 0.5px black;
            width: 200px;
            height: 60px;
        }

        button:nth-child(1) {
            background-color: white;
        }

        button:nth-child(2) {
            background-color: black;
            color: white;
        }
    }
}

.story-form {
    padding: 0 4%;

    div {
        label {
            font-weight: 500;
        }
    }
}